/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,600;1,400;1,600&family=Barrio&family=JetBrains+Mono&family=Merriweather:ital,wght@0,200;0,300;0,700;1,200;1,300;1,700&family=Palanquin+Dark&family=Merriweather+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');

/*$primary: #06436e !default;*/
$headings-font-family: "Merriweather Sans", -apple-system, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", !default;
$font-family-base: 'Merriweather', 'Roboto Regular', 'Cabin Regular', 'Times New Roman' !default;
$font-family-monospace: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

/*-- scss:rules --*/
/*h1, h2, h3, h4, h5, h6 {

}*/

// Code blocks
$code-block-bg:       white;
$code-bg:             white;
$code-color:          #CD5C5B;
/*$code-block-bg:       #FFFFF0;*/
/*$code-bg:             #FFFFF0;*/

