/*-- scss:defaults --*/
// Base document colors

/*$sidebar-bg: #FFFFFF;*/
$link-color: #8D0801;
$text-muted: #708D81;
$sidebar-bg: #F4D58D;
$body-color: #000000;
$body-bg: #FFFFFF;
$code-color: #001427;
$code-block-border-left: #708D81;
$code-block-bg: #EDC7B7;
$dropdown-bg: #F4D58D;
$navbar-bg: #BF0603;
$callout-color-important: #8D0801;
$callout-color-tip: #001427;
$callout-color-note: #001427;
$callout-color-caution: #8D0801;
$callout-color-warning: #8D0801;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$headings-font-family: "Titillium Web", sans-serif;
/*--
$font-family: "Merriweather", sans-serif;
$font-family-monospace: "Roboto Mono", sans-serif;
--*/

h1, h2, h3, h4, h5, h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1{
  letter-spacing: 1px;
  font-weight: 600;
}

.title {
  color: #123C69;
}

.description {
  color: #123C69;
}

p {
     -webkit-hyphens: auto;
     -webkit-hyphenate-limit-before: 3;
     -webkit-hyphenate-limit-after: 3;
     -webkit-hyphenate-limit-chars: 6 3 3;
     -webkit-hyphenate-limit-lines: 2;
     -webkit-hyphenate-limit-last: always;
     -webkit-hyphenate-limit-zone: 8%;
     -moz-hyphens: auto;
     -moz-hyphenate-limit-chars: 6 3 3;
     -moz-hyphenate-limit-lines: 2;
     -moz-hyphenate-limit-last: always;
     -moz-hyphenate-limit-zone: 8%;
     -ms-hyphens: auto;
     -ms-hyphenate-limit-chars: 6 3 3;
     -ms-hyphenate-limit-lines: 2;
     -ms-hyphenate-limit-last: always;
     -ms-hyphenate-limit-zone: 8%;
     hyphens: auto;
     hyphenate-limit-chars: 6 3 3;
     hyphenate-limit-lines: 2;
     hyphenate-limit-last: always;
     hyphenate-limit-zone: 8%;
 }

.my-highlight {
    background-color: #ffff7f; /* Bright yellow color */
    padding: 0.1em 0; /* Slight padding to enhance highlight effect */
    border-radius: 0.2em; /* Rounded edges to mimic a marker stroke */
    box-shadow: 0 0 5px rgba(255, 255, 0, 0.5); /* Soft glow for realism */
}

.breadcrumb {
  background-color: #BAB2B5;
}
