.inverse {
  background-image: url('UWC_logo.svg.png');
  background-color: #009fb5;
  background-position: 95% 10%;
  background-size: 3.6cm;
}

.main {
  color: #009fb5;
}

/* Make bold syntax compile to RU-red */
strong {
  color: #020f60;
}

/* code */
.remark-inline-code {
  color: #46095f;
  border-radius: 3px;
  padding: 0;
  background: #e0e0e0;
  font-size: smaller;
}

.remark-code {
  border-radius: 10px;
  font-size: 70%;
}

.remark-code-line-highlighted {
  background-color: #f6de82;
}

h1, h2, h3, h4, h5, h6 {
  color: #009fb5;
  border: 0px;
  margin: 0px;
}

