.callout.callout-tip {
  background: linear-gradient(135deg, #f3f1e8 0%, #faf8ef 100%) !important;
  color: #3e5666 !important;
}

.callout.callout-tip .callout-title-container {
  color: #3e5666 !important;
}
